<h1> <%= @project.name %></h1>
<ul>
	<% @entries.each do |entry| %>
	<li>
		<%= entry.hours %>h
		<%= entry.minutes %> m-
		<%= entry.date %>
	</li>
	<%= @project.name %>
	Total hours worked: <%= @project.how_many_hours(@date.month, @date.year) %>
	<% end %>
</ul>	