<% if flash[:notice] %>
  <%= flash[:notice] %>
 <% end %> 
<h1> <%= @project.name %></h1>
<ul>
	<% @entries.each do |entry| %>
	<li>
		<%= entry.hours %>h
		<%= entry.minutes %> m-
		<%= entry.date %>
	</li>
	<%= @project.name %>
	Total hours worked: <%= @project.how_many_hours(@date.month, @date.year) %>
	<%= link_to("Delete", project_entry_path(@project, entry), method: :delete, data: { confirm: "Are you sure?" }) %>
	<%= link_to("Edit", edit_project_entry_path(@project, entry)) %>
	<% end %>
	<br>
	<%= link_to("Home", projects_path) %>
	<%= link_to("New", new_project_entry_path) %>

</ul>	